extends layout
block content

  a(href= url)= "Get permissions"
  form(method='post', action='/import/')
    input(name='token')
    input(type='submit', value='Import')
  form(method='post', action='/export/')
    input(name='token')
    input(type='submit', value='Export')